var formatTime = function (date, format) {
    var date = getDate(date);
    var year = date.getFullYear();
    var month = fixz(date.getMonth() + 1);
    var day = fixz(date.getDate());
    var hour = fixz(date.getHours());
    var minute = fixz(date.getMinutes());
    var second = fixz(date.getSeconds());
    // console.log(month, day, hour, minute);

    if (format === "yyyy/MM/dd")
        return [year, month, day].join('/');
    else if (format === "MM/dd")
        return [month, day].join('/');
    else if (format === "HH:mm:ss")
        return [hour, minute, second].join(':');
    else
        return [month, day].join('/') + ' ' + [hour, minute].join(':');
}

var fixz = function (num) {
    if (num < 10) {
        return '0' + num;
    }
    return num;
};

var getLocaleDate = function (dDate, format, isLocal) {
    if(!dDate || dDate === null)
        return "未知";
    else
    {
        if(isLocal)
            var localTime = getDate(dDate).getTime()
        else
            var localTime = getDate(dDate).getTime() - getDate().getTimezoneOffset() * 60 * 1000;
        return formatTime(localTime, format);
    }
};

module.exports = {
    getDate: getLocaleDate,
};