function showImage(avator){
    if(avator === "" || avator === null || avator === undefined)
        return "/images/TBD.jpg"
    return avator
}
function showRank(rank){
    if(!rank || rank === 0){
        return "#-";
    }
    else return "#" + rank; 
}

module.exports ={
    showImage:showImage,
    showRank: showRank
}