var getScoreRange=function(maxScore){
	var newScoreRange = [];
	var i = maxScore - 1;
	while(i>=0){
		newScoreRange.push(i--);
	}
	return newScoreRange;
}
var btnPre=function(index,len){
	if(index === 0){ return "visibility: hidden";}
	else{ return "visibility: visible";}
}
var btnSub=function(index,len){
	if(index === len-1){ return "visibility: visible";}
	else{ return "visibility: hidden";}
}
var iconClick=function(playerId, winnerId){
	if(playerId === winnerId) return "checked";
	else return "passed";
}
var iconColor=function(playerId, winnerId){	
	if(playerId === winnerId) {
		return "green";
	}
	else{
		return "black";
	}
}
var desactive=function(item,maxScore,readonly,score){
	if(item[score] === maxScore || item.predictStatus === 1 || readonly || item.winnerId === 376 || item.winnerId === null){	
		return "desactive";
	}else{
		return "";
	}
}
var winCorrect=function(winCorrect){
	if(winCorrect){
		return "输赢对";
	}else{
		return "输赢错";
	}
}
var scoreCorrect=function(scoreCorrect){
	if(scoreCorrect){
		return "比分对";
	}else{
		return "比分错";
	}
}

var calProgress = function(currentMatchIndex, matchLength){
	if(matchLength === 0)
		return 20;
	else
		return (currentMatchIndex+1)/matchinfo.length*100;
}

module.exports={
	getScoreRange: getScoreRange,
	displayPre: btnPre,
	displaySub: btnSub,
	iconClick: iconClick,
	iconColor: iconColor,
	desactive: desactive,
	winCorrect: winCorrect,
	scoreCorrect: scoreCorrect,
	calProgress: calProgress
};
